<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.raisedadead.alfred-tor</string>
	<key>category</key>
	<string>Internet</string>
	<key>connections</key>
	<dict>
		<key>4E98827F-1E8E-4EA9-BF37-3CB5C581F571</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>78B56AD4-D7C4-4F07-B71A-F8300E3CDDDA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>617E922F-9F5B-4E76-8724-96699BB66616</key>
		<array/>
		<key>78B56AD4-D7C4-4F07-B71A-F8300E3CDDDA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>617E922F-9F5B-4E76-8724-96699BB66616</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Mrugesh Mohapatra</string>
	<key>description</key>
	<string>Alfred 3 workflow - Toggle Tor and Internet proxy on/off</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Tor Toggle</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://check.torproject.org</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>617E922F-9F5B-4E76-8724-96699BB66616</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>toggle-tor.sh</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>78B56AD4-D7C4-4F07-B71A-F8300E3CDDDA</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>tor</string>
				<key>subtext</key>
				<string>Toggle Tor and Internet proxy on/off</string>
				<key>text</key>
				<string>Tor Toggle</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>4E98827F-1E8E-4EA9-BF37-3CB5C581F571</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>4E98827F-1E8E-4EA9-BF37-3CB5C581F571</key>
		<dict>
			<key>xpos</key>
			<integer>10</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>617E922F-9F5B-4E76-8724-96699BB66616</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>78B56AD4-D7C4-4F07-B71A-F8300E3CDDDA</key>
		<dict>
			<key>xpos</key>
			<integer>150</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
	</dict>
	<key>version</key>
	<string>2.0.0</string>
	<key>webaddress</key>
	<string>https://git.raisedadead.com/alfred-tor</string>
</dict>
</plist>
